<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito</h1>
    <ul id="cartProducts">
        {{#each cart.products}}
            <li>
                <strong>Id del Producto:</strong> {{this.product._id}} <br>
                <strong>Nombre:</strong> {{this.product.tittle}} <br>
                <strong>Precio:</strong> {{this.product.price}} <br>
                <strong>Cantidad:</strong> {{this.quantity}} <br>
                <strong>Total por unidad:</strong> ${{multiply this.product.price this.quantity}}
                <button onclick="removeFromCart('{{this.product._id}}')">Eliminar</button>
            </li>
        {{/each}}
    </ul><br>
    <h3>Total a pagar: ${{cartTotal}}</h3>
    <form action="" id="form-user">
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre"><br>
        <input type="text" id="direccion" name="direccion" placeholder="Ingrese su direccion"><br>
        <input type="text" id="telefono" name="telefono" placeholder="Ingrese su telefono"><br>
        <select id="metodoDePago" name="metodoDePago">
            <option value="Efectivo">Efectivo</option>
            <option value="Mercado pago">Mercado Pago</option>
        </select>
    </form>
    <button onclick="placeOrder()">Ordenar</button>

    <script>
        const cartId = '66f7728152336cfd1dc02873'
        const cartProducts = document.getElementById('cartProducts');

        function removeFromCart(productId) {
            fetch(`/api/cart/${cartId}/products/${productId}`, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    alert('Producto eliminado del carrito');
                    location.reload(); // Recargar la página para actualizar la lista
                } else {
                    alert('Error al eliminar el producto');
                }
            });
        }

        function placeOrder() {
            const nombre = document.getElementById('nombre').value
            const direccion = document.getElementById('direccion').value
            const telefono = document.getElementById('telefono').value
            const metodoDePago = document.getElementById('metodoDePago').value

            fetch('/api/order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    cartId,
                    user: {
                        nombre,
                        direccion,
                        telefono,
                    },
                    metodoDePago
                })
            }).then(response => {
                if (response.ok) {
                    alert('Orden realizada con éxito');
                } else {
                    alert('Error al realizar la orden');
                }
            });
        }
    </script>
</body>
</html>