<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>

    <ul>
        {{#each products}}
        <li>
            <br>
            <strong>Producto:</strong> {{this.tittle}} <br>
            <strong>Descripci칩n:</strong> {{this.description}} <br>
            <strong>Precio:</strong> {{this.price}} <br>
            <strong>Stock:</strong> {{this.stock}} <br>

            <!-- Agregar campo para seleccionar la cantidad -->
            <label for="quantity-{{this._id}}">Cantidad:</label>
            <input type="number" id="quantity-{{this._id}}" min="1" max="{{this.stock}}" value="1">

            <!-- Pasa el ID del producto y la cantidad seleccionada a la funci칩n addToCart -->
            <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
        </li>
        {{/each}}
    </ul>
    <div class="pagination">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}

        <!-- Mostrar p치gina actual -->
        <span>P치gina {{currentPage}} de {{totalPages}}</span>

        {{#if hasNextPage}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>

    <script>
        // ID fijo del carrito, ajusta si es necesario
        const cartId = '66f7728152336cfd1dc02873'; 

        function addToCart(productId) {
            console.log(productId)
            const quantity = document.getElementById(`quantity-${productId}`).value; // Obtener la cantidad seleccionada

            fetch(`/api/cart/${cartId}/products/${productId}`, { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity }) // Enviar la cantidad al carrito
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Producto agregado al carrito:', data);
                alert('Producto agregado al carrito');
            })
            .catch(error => {
                console.error('Error al agregar el producto al carrito:', error);
                alert('Error al agregar el producto al carrito');
            });
        }
    </script>
</body>
</html>