<h1>Productos</h1>

<ul>
    {{#each products}}
<li>
    <h2>{{this.tittle}}</h2>
    <p>{{this.description}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Price: ${{this.price}}</p>

    <!-- Agregar campo para seleccionar la cantidad -->
    <label for="quantity-{{this._id}}">Cantidad:</label>
    <input type="number" id="quantity-{{this._id}}" min="1" max="{{this.stock}}" value="1">

    <!-- Pasa todos los detalles del producto a la función addToCart -->
    <button onclick="addToCart('{{this._id}}', '{{this.title}}', '{{this.description}}', '{{this.price}}')">Add to Cart</button>
</li>
    {{/each}}
</ul>
<div class="pagination">
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">Previous</a>
    {{/if}}

    <!-- Mostrar página actual -->
    <span>Page {{currentPage}} of {{totalPages}}</span>

    {{#if hasNextPage}}
        <a href="{{nextLink}}">Next</a>
    {{/if}}
</div>

<script>
    const cartId = 'yourCartId'; 

    function addToCart(productId) {
        const quantity = document.getElementById(`quantity-${productId}`).value; // Obtener la cantidad seleccionada

        fetch(`/api/cart/${cartId}/product/${productId}`, { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity }) // Enviar la cantidad al carrito
        })
        .then(response => response.json())
        .then(data => {
            console.log('Product added to cart:', data);
            alert('Producto agregado al carrito');
        })
        .catch(error => {
            console.error('Error adding product to cart:', error);
            alert('Error al agregar el producto al carrito');
        });
    }
</script>